//==========================
// CSS RULES FOR FOOTER
//==========================

@use 'root' as root;

footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: root.$header-padding-y root.$header-padding-x;
    background-color: #2e7253;
    
    h6 {
        margin-bottom: 0.75rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    small {
        display: flex;
        gap: 1rem;
    }
}