//==========================
// CSS RULES FOR HEADER
//==========================

// Getting root rules from _root.scss
@use 'root' as root;

header {
    height: root.$header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: root.$header-padding-y root.$header-padding-x;
    background-color: root.$primary;
    background-color: #2e7253;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo {
    padding: 10px;
}