<app-work-in-progress #wip />

@if (feedback()) {
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{ feedback() }}
    <button type="button" class="btn-close" (click)="feedback.set('')"></button>
  </div>
}

<section>
  <h1 class="mb-4">{{ t()['catalog'] }}</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle">
      <caption class="visually-hidden">{{ t()['catalog'] }}</caption>
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">{{ t()['title'] }}</th>
          <th scope="col">{{ t()['type'] }}</th>
          <th scope="col">{{ t()['genre'] }}</th>
          <th scope="col">{{ t()['year'] }}</th>
          <th scope="col">{{ t()['duration'] }}</th>
          <th scope="col">{{ t()['catalogRating'] }}</th>
          <th scope="col">{{ t()['interactions'] }}</th>
        </tr>
      </thead>
      <tbody>
        @for (title of titles(); track title.id) {
          <tr>
            <th scope="row">{{ title.id }}</th>
            <td>{{ title.title }}</td>
            <td>{{ title.type === 'movie' ? t()['movie'] : t()['series'] }}</td>
            <td>{{ translationService.genreName(title.genre) }}</td>
            <td><time>{{ title.year }}</time></td>
            <td>{{ title.duration }} {{ t()['minutes'] }}</td>
            <td>{{ title.rate }}</td>
            <td class="interation-buttons">
              <button class="btn btn-primary btn-sm" (click)="wip.show()">{{ t()['expand'] }}</button>
              <button class="btn btn-success btn-sm" (click)="saveTitle(title)">{{ t()['save'] }}</button>
              @if (isUserTitle(title.id)) {
                <button class="btn btn-danger btn-sm" (click)="deleteTitle(title)">{{ t()['delete'] }}</button>
              }
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="8" class="text-center">{{ t()['noTitles'] }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>